
.sortable-placeholder {
  border: 1px dashed #CCC;
  background-color: #f9f9f9;
  height: 80px;
  margin-bottom: 10px;
}

.sortable {
  display: list-item;
}

div {
  padding-left: 50px;
}

h2 {
  padding-left: 50px;
}

h1 {
  padding-left: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
}
