
.sortable-placeholder {
  background-color: #B0D773;
  height: 80px;
  margin-bottom: 10px;
}

#all_tasks {
  padding-bottom: 30px;
}

div #new_link {
  font-size: 30px;
  font-weight: bold;
}

.field {
  padding-top: 10px;
  color: #593B1A;
  font-weight: bold;
}

.empty {
  margin-bottom: 40px;
}

.delete_button {
  color: red;
}

.sortable {
  display: list-item;
}

h3 {
  margin-top: 30px;
  margin-left: 400px;
  margin-bottom: 50px;
}

p {
  padding-left: 100px;
  padding-top: 100px;
  padding-right: 100px;
  float: left;
}

div {
  padding-left: 10px;
  font-family: helvetica;
  font-size: 20px;
  color: #0E6A39;

}


h2 {
  font-family: helvetica;
  font-weight: bold;
  color: #593B1A;
  font-size: 40px;
  padding-bottom: 20px;
}

h1 {
  color: #593B1A;
  padding-left: 550px;
  padding-top: 20px;
  padding-bottom: 50px;
  font-size: 40px;
  display: inline-block;
}


body {
  background-color: #B0D773;
}
